{% extends 'layouts/base.html' %}
{% block title %}SecEdu - Frequencia{% endblock title %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">SecEdu</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Frequencia do Alunos</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>

        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Matricula</th>
                        <th>Turma</th>
                        <th>Semana</th>
                        <th>Qtda. Presencas</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Matricula</th>
                        <th>Turma</th>
                        <th>Semana</th>
                        <th>Presença(s)</th>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- FOR de DADOS -->
                    {% for result in results %}
                    <tr>
                        <td>
                            {{result.nome}}
                        </td>
                        <td>{{result.matricula}}</td>
                        <td>{{result.turma}}</td>
                        <td class="container-fluid">
                            {% if result.total_registros > 0 %}
                            <a class="btn btn-danger" href="{% url 'frequencia_semana_anterior_aluno' result.id %}">
                                <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;
                                Semana Anterior
                            </a>
                            <a class="btn btn-success" href="#">
                                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                                Mensal
                            </a>
                            <a class="btn btn-danger" href="{% url 'frequencia_semana_atual_aluno' result.id %}">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;
                                Semana Atual
                            </a>
                        </td>
                        <td>{{result.total_registros}}</td>
                        {% else %}
                        Sem registro de frequencia para o aluno
                        </td>
                        <td> --- </td>
                        {% endif %}

                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}