{% extends 'layouts/base.html' %}
{% block title %}SecEdu - Turma {% endblock title %}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Cadastros - Salas</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="cadastros/index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">#</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
           
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listagem de Turmas
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Período</th>
                        <th>Em aula</th>
                        <th>Qtda. Alunos</th>
                        <th>Ultima Detecções</th>
                        <th>Qtda. Presentes</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Período</th>
                        <th>Em aula</th>
                        <th>Qtda. Alunos</th>
                        <th>Ultima Detecções</th>
                        <th>Qtda. Presentes</th>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- FOR de DADOS -->
                {% for alunoa in alunos %}
                    <tr>
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.}}</td>
                        <td></td>
                        <td>{{aluno.count}}</td>
                        <td>09/09/2023 as 09h:45m</td>
                        <td><i class="fas fa-table me-1"></i></td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
