{% extends "layout/base.html" %}
<!-- NavBar Content -->
{% block navbar-content %}
<i style="color:brown" class="fas fa-user-alt"></i>
&nbsp;&nbsp;Secedu
{% endblock navbar-content %}

{% block content %}
<div class="container">
    <br><br><br>

    <div class="table">
        <table id="tbAlunos" class="table table-bordered table-responsive" style="width:100%; display: block;">
            <!-- ... Conteúdo da tabela para "Capturas de Hoje" ... -->
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Turma</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <td>{{aluno.matricula}}</td>
                    <td>{{aluno.pessoa.nome}}</td>
                    <td>{{aluno.turma}}</td>
                    <td>{{aluno.pessoa.sexo}}</td>
                </tr>
                {% endfor %}
        </table>
    </div><!-- Table  -->


</div><!-- Container  -->
{% endblock content %}