<div class="table-responsive">
    <table id="tbPessoas" class="display"  style="width:100%; display: block;">
      <!-- ... Conteúdo da tabela para "Capturas de Hoje" ... -->
      <thead>
        <tr>
          <th>#</th>
          <th>Local</th>
          <th>Data</th>
          <th>Horario</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>table Hoje</td>
          <td>02-10-2023</td>
          <td>07:03:56</td>
          <td>check</td>
        </tr>
    </table>
</div>