{% extends 'layouts/base.html' %}
{% block title %}SecEdu - Alunos {% endblock title %}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Cadastros - Estudantes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">#</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listagem de Alunos
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Semana</th>
                        <th>Nome</th>
                        <th>Matricula</th>
                        <th>Turma</th>
                        <th>Atualizado em</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Semana</th>
                        <th>Nome</th>
                        <th>Matricula</th>
                        <th>Turma</th>
                        <th>Atualizado em</th>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- FOR de DADOS -->
                    {% for aluno in alunos %}
                    <tr>
                        
                        <td class="padding">
                            <a href="{% url 'frequencia_semana_anterior_aluno' aluno.id %}">
                                <i class="fa fa-fast-backward" aria-hidden="true"></i>
                                Anterior
                            </a>
                            <br/>
                            <a href="{% url 'frequencia_semana_atual_aluno' aluno.id %}">
                                <i class="fa fa-step-forward" aria-hidden="true"></i>
                                Atual
                            </a>
                        </td>
                        <td>{{aluno.pessoa.nome}}</td>
                        <td>{{aluno.matricula}}</td>
                        <td>{{aluno.turma.nome}}</td>
                        <td><i class="fas fa-table me-1"></i>{{aluno.data_cadastro}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}