{% extends 'layouts/base.html' %}
{% block title %}SecEdu - Dashboards{% endblock title %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Analize de Faces</li>
    </ol>

    <h3>Análise de Imagem</h3>

    <h6>Importante sobre esta Demostracao!</h6>

    <div class="container text-center">
        <div class="row align-items-start">

            <div class="col card-body">
                <span class="align-middle">1 - As imagens utilizadas neste teste nao serao armazenadas, terminando a
                    analise tudo sera excluido</span>
                </br>
                <span class="align-middle">2 - Apenas imagens no formato JPEG, jpg ou png sao aceitas e uma face por
                    imagem sera analisada</span>
            </div>
        </div>
        <div class="row align-items-end">

            <div class="col-sm-8"><input type="file" id="imageFile"></div>
            <div class="col-sm-4"> <button onclick="analyzeImage()">Enviar Imagem</button>
            </div>
        </div>
    </div>

    <center>


        <div id="results" class="card" style="width: 18rem;">
            <img id="img_1" src="../../media/avatar.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p id="emotion" class="card-text text-center">Emoção Predominante: </p>
            </div>
        </div>
    </center>

    <script>
        function analyzeImage() {
            var fileChooser = document.getElementById('imageFile');
            var formData = new FormData();
            var image = document.getElementById('image');

            if (fileChooser.files.length > 0) {
                var fileName = fileChooser.files[0].name;
                if (fileName.endsWith('.jpeg') || fileName.endsWith('.jpg') || fileName.endsWith('.png')) {
                    formData.append('image', fileChooser.files[0]);
                    // Carregar path de imagem
                    name = fileChooser.files[0].name;
                    console.log('Nome:' + name);
                    path = 'media/capturas/' + name;
                    //image.src = formData.get('image');
                    console.log('PATH IMG: '+ path);
                    fetch('/get_image_and_analyze/', {
                        method: "POST",
                        body: formData
                    })
                        .then(response => {
                            if (response.ok) {
                                response.json().then(data => {
                                    emocoes = { 'angry': 'Irritação', 'disgust': 'Nojo', 'fear': 'Medo', 'happy': 'Felicidade', 'neutral': 'Neutro', 'sad': 'Tristeza', 'surprise': 'Surpresa' }
                                    // Atualize a imagem com o URL retornado na resposta
                                    var image = document.getElementById('img_1');
                                    var emotionParagraph = document.getElementById('emotion');

                                    var path = data[0].face_location;
                                    var emotionData = data[0].results[0].dominant_emotion;
                                    // Se nao existir  data.face_location, significa que nao foi detectada nenhuma face
                                    if (path != null && emotionData != null) {
                                    
                                        image.src = '../../' + path;
                                        // Recupere os dados de emoção da resposta
                                        console.log('Emocao: ', emotionData);
                                        emotionParagraph.textContent = "Emoção predominante: " + emocoes[emotionData];
                                    } else {
                                        emotionParagraph.textContent = "Emoção predominante: " + 'Nenhuma face detectada';
                                    }

                                    /*
                                    for (var emotion in emotionData) {
                                        var paragraph = document.getElementById(emotion);
                                        if (paragraph) {
                                            emocoes = {'angry':'Irritação', 'disgust':'Nojo', 'fear':'Medo', 'happy':'Felicidade', 'neutral':'Neutro', 'sad':'Tristeza', 'surprise':'Surpresa'}
                                            paragraph.textContent = emocoes[emotion] + ": " + emotionData[emotion];
                                        }
                                    }
                                    */
                                });
                            } else {
                                console.error("Erro na solicitação à API externa.");
                            }
                        });
                } else {
                    console.error("Formato de arquivo inválido.");
                }// IF para verificar se o arquivo é uma imagem
            } else {
                console.error("Nenhum arquivo selecionado.");
            }// IF para verificar se o arquivo é uma imagem
        }
    </script>


    {% endblock content %}