{% extends 'app/layout/base_admin.html' %}

<!-- Block title -->
{% block title %} SecEdu IA {% endblock %}

<!-- Page content -->
{% block content %}

<section class="section dashboard">
    <div class="row">


        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alunos</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#RA</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Turma</th>
                                <th scope="col">Período</th>
                                <th scope="col">Ult. Presença</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row">1</th>
                                <td>Alunos teste 1</td>
                                <td>Mooning</td>
                                <td>Senior </td>
                                <td>2023-10-02</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>

    </div><!-- Row 1-->
</section>

{% endblock content %}<!-- End Page Content -->